<!DOCTYPE html>
<html lang="en" ng-app="Mobi">
	<head>
		<link rel="stylesheet" href="stylesheets/normalize.css">
		<style>
			input.invalid {
				background-color: red;
			}
		</style>
	</head>
<body>
	<h2>MongoDB, NodeJS, Express, AngularJS</h2>
	<div ng-view></div>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js" language="javascript" type="text/javascript"></script>
	<script type="text/javascript">window.angular || document.write('<script type="text/javascript" src="javascripts/libs/angular.min.js">\x3C/script>');</script>
	<script src="javascripts/app/app.js" language="javascript" type="text/javascript"></script>
	<script src="javascripts/app/controllers.js" language="javascript" type="text/javascript"></script>
</body>
</html>